<footer class="bottom">
    <div class="container">
        <div class="bottom__content text-center">
            <img src="/images/footer logo.png" alt="footerlogo">
            <ul class="bottom__list">
                <li class="bottom__item"><a href="#" class="bottom__link">Term & Conditions</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Privacy</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">CA Privacy</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Adchoices</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Do Not Sell My Personal Information</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Shop Policy</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Fags</a></li>
                <li class="bottom__item"><a href="#" class="bottom__link">Contact Us</a></li>
            </ul>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-12">
                    <h1 class="text-center bottom__letter">News Letter</h1>
                    <form method="POST" action="" class="contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address">
                        </div>
                        <div class="bottom__button text-center">
                            <button type="submit" class="bottom__send">Send</button>
                        </div>
                    </form>
                       <div class="bottom__content text-center">
                           <p>Copyright &copy; 2020 Procter & Gamble</p>
                       </div>
                </div>
              
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/john.js"></script>
</html>