<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Spice | Thank you for subscribing to our News Letter</title>
     
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/OS Navbar Tab logo.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="banner">
        <div class="container">
            <div class="banner__content text-center">
                <p>Free Shipping When You Spend $10</p>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/OS_Desktop_Navbar_Logo-removebg-preview.png" alt="navbarlogo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="toggler-btn">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Shop
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Armpits</a>
                      <a class="dropdown-item" href="#">Beard</a>
                      <a class="dropdown-item" href="#">Body</a>
                      <a class="dropdown-item" href="#">Build Your Bundle</a>
                      <a class="dropdown-item" href="#">Bundles</a>
                      <a class="dropdown-item" href="#">Hair</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bundles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Bundle & Save</a>
                      <a class="dropdown-item" href="#">Build Your Bundle</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ManBook
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Deodorant Vs. Antiperirant: which is Best For You?</a>
                      <a class="dropdown-item" href="#">How To Keep Excessive Sweating From Stopping Your Swagger</a>
                      <a class="dropdown-item" href="#">Top Aluminum-Free Deodorants for Mean From Old Spice</a>
                      <a class="dropdown-item" href="#">View All</a>
                    </div>
                  </li>
              </ul>
              <ul class="social__list ml-auto">
                  <li class="social__Item"><a href="#" class="social__link">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-search"></use>
                    </svg>
                  </a></li>
                  <li class="social__Item"><a href="#" class="social__link">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-user-solid-circle"></use>
                    </svg>
                  </a></li>
                  <li class="social__Item"><a href="#" class="social__link">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-cart"></use>
                    </svg>
                  </a></li>
              </ul>
            </div>
        </div>
      </nav>
    
