<%- include('partials/failureHeader') %>
<section class="success">
    <div class="container">
        <div class="success__content text-center">
            <h2>An error has occurred.We will fix this problem, In the meantime please try again </h2>
            <div class="success__button" role="button">
                <a href="/" class="success__try">Try again</a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="success__content">
                        <img src="/images/FailureBG.jpg" alt="failure">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>