<%- include('partials/homeHeader') %>
<section class="smell">
    <div class="container">
        <div class="col-lg-6 col-12 offset-lg-1">
            <div class="smell__content">
                <h2>Smell Confident</h2>
                <h5>Get more awesomes, good smellingness, and Old Spice exclusive then ever before</h5>
                <div class="smell__button">
                    <a href="#" class="smell__full">Shop Best Sellers</a>
                    <a href="#" class="smell__outline">Shop Everything</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="icons">
    <div class="container">
        <div class="icons__background">
            <div class="row">
                <div class="col-lg-4 col-12">
                   <div class="icons__content text-center">
                    <img src="/images/Free-shipping.svg" alt="freeing">
                    <br>
                    <br>
                      <p class="para"><strong>Free Shipping</strong></p>
                      <p class="subpara">When you spend $10</p>
                   </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="icons__content text-center">
                     <img src="/images/Bundle-&-Save.svg" alt="save">
                    <br>
                    <br>
                       <p class="para"><strong>Bundle & Save</strong></p>
                       <p class="subpara">Buy a manly amount and <br> save money</p>
                    </div>
                 </div>
                 <div class="col-lg-4 col-12">
                    <div class="icons__content text-center">
                     <img src="/images/online-icon.svg" alt="online">
                     <br>
                     <br>
                       <p class="para"><strong>Online Only</strong></p>
                       <p class="subpara">Buy a manly amount and <br> save money</p>
                    </div>
                 </div>
           </div>
        </div>
    </div>
</section>
<section class="feature">
    <div class="container">
        <div class="feature__title text-center">
            <h2>Feature Smells</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="feature__content">
                    <img src="/images/Fiji with Palm Tree ant.png" alt="Fiji">
                    <p class="para">Fiji With Palm Tree Antiperspirant</p>
                    <span>$5.49</span>

                    <div class="feature__button text-center">
                        <a href="#" class="feature__cart">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="feature__content">
                    <img src="/images/Body & Face Hydrating Lotion.png" alt="face">
                    <p class="para">Body & Face Hydrating Lotion</p>
                    <span>$8.80</span>

                    <div class="feature__button text-center">
                        <a href="#" class="feature__cart">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="feature__content">
                    <img src="/images/Aqua Reef Deodorant.png" alt="Fiji">
                    <p class="para">Aqua Reef Deodorant</p>
                    <span>$5.49</span>

                    <div class="feature__button text-center">
                        <a href="#" class="feature__cart">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="feature__content">
                    <img src="/images/Body & face daily cleanser.png" alt="Fiji">
                    <p class="para">Body & Face Daily Cleanser</p>
                    <span>$8.80</span>

                    <div class="feature__button text-center">
                        <a href="#" class="feature__cart">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="brush">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12 offset-lg-1">
                <div class="brush__content">
                    <h3>Brush Up On Your Swagger</h3>
    
                    <div class="brush__button">
                        <a href="#" class="brush__swagger">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grooming">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="grooming__content text-center">
                    <h3>The Grooming And <br> Other Things Guide</h3>
                    <div class="grooming__button">
                        <a href="#" class="grooming__manbook">Read The ManBook</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="grooming__content2 text-center">
                    <h3>The Grooming And <br> Other Things Guide</h3>
                    <div class="grooming__button">
                        <a href="#" class="grooming__manbook">Read The ManBook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>