:root{
    --color-main-background: #af000f;
    --color-text:#555;
    --color-subtext:  #f2f3f4;
    --color-button-and-links:#af000f;
    --color-footer-background:#555;
    --color-feature-background: rgba(225,255,255,.3);
}